html {
  position: relative; /* нужно для анимаций или элементов, которые могут выпадать за сайт (они обрезаются) */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative; /* нужно для анимаций или элементов, которые могут выпадать за сайт (они обрезаются) */
  overflow-x: hidden; /* нужно для анимаций или элементов, которые могут выпадать за сайт (они обрезаются) */
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  background-color: #f0f4f4;

  img, svg {
    display: block;
    max-width: 100%;
    height: auto;

    svg {
      max-height: 100%;
    }
  }

  button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: transparent;

    &::-ms-clear {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h1, h2, h3, p, figure {
    margin: 0;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  iframe {
    border: none;
  }

  /*
  Доступно скрываю элементы
  */

  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }
}

.no-scroll {
  overflow: hidden;
}
