/* roboto-regular */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
}

/* roboto-700 */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
}


/* TTFirsNeue-regular */
@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Regular.woff') format('woff');
}

/* TTFirsNeue-Bold */
@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
  url('../fonts/TTFirsNeue-Bold.woff') format('woff');
}
