// Fonts
$font-main: 'Roboto', sans-serif;
$font-second: 'TT Firs Neue', sans-serif;

// Colors
$accentColor: #ff6e30;
$accentColor-2: #bc572b;
$accentColor-3: #ce4307;
$darkColor: #202020;
$shadeColor: #4a4a4a;
$highlightColor: #999999;
$lightDefaultColor: #c4c4c4;
$defaultColor: #cacaca;
$shadeLightColor: #e9e9e9;
$whiteColor: #fff;
$errorColor: #f06666;

// Container
$container-width: 1290px;
$container-padding: 30px;
