.hero {
  @include sectionPaddings(20px, 40px);
  font-family: $font-main;
  font-weight: 400;

  @include media(1200px) {
    @include sectionPaddings(14px, 39px);
  }

  @include media(998px) {
    padding-top: 20px;
  }

  @include media(640px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 300fr 257fr;
    gap: 30px;

    @include media(1200px) {
      grid-template-rows: auto 332fr 186fr;
      gap: 30px 31px;
    }

    @include media(998px) {
      grid-template-rows: auto 228fr 133fr;
    }

    @include media(640px) {
      grid-template-rows: auto 186fr 105fr;
      gap: 30px 30px;
    }
  }

  &__block-title {
    grid-column: span 2;
    margin-bottom: -12px;
    font-family: $font-second;
    @extend %section-title;
    line-height: 104%;

    @include media(1200px) {
      margin-bottom: -5px;
    }

    @include media(998px) {
      font-size: 22px;
      margin-bottom: -14px;
    }

    @include media(640px) {
      padding-top: 5px;
      grid-column: span 4;
      font-size: 18px;
    }
  }

  &__picture {
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_wide {
      grid-column: span 2;

      @include media(640px) {
        grid-column: span 4;
      }
    }

    &_min {
      @include media(640px) {
        grid-column: span 2;
      }
    }
  }
}

// block-poster
.block-poster {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-column: span 2;
  grid-row: span 3;
  padding: 50px 15px 59px 58px;
  background: url("../images/hero/hero-1.webp") center / cover no-repeat;
  color: $whiteColor;

  @include media(1200px) {
    padding: 50px 15px 30px 30px;
    background: url("../images/hero/hero-1-1024.webp") center / cover no-repeat;
  }

  @include media(998px) {
    padding-left: 28px;
    background: url("../images/hero/hero-1-768.jpg") center / cover no-repeat;
  }

  @include media(640px) {
    padding: 50px 15px 30px 29px;
    grid-column: span 4;
    min-height: 422px;
    font-size: 14px;
    background: url("../images/hero/hero-1-320.jpg") center / cover no-repeat;
  }

  &__tag {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 7px 15px;
    font-size: 14px;
    background-color: $darkColor;

    @include media(1200px) {
      padding: 7px 16px;
    }

    @include media(998px) {
      padding: 7px 15px;
    }

    @include media(640px) {
      top: 6px;
      right: 5px;
      padding: 4px 7px;
      font-size: 12px;
    }
  }

  &__author {
    margin-bottom: 3px;

    @include media(1200px) {
      margin-bottom: 8px;
    }

    @include media(998px) {
      margin-bottom: 14px;
    }

    @include media(640px) {
      margin-bottom: 8px;
    }
  }

  &__title {
    margin-bottom: 20px;
    max-width: 427px;
    font-family: $font-second;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.04;

    @include media(1200px) {
      margin-bottom: 23px;
      font-size: 34px;
      line-height: 1;
    }

    @include media(998px) {
      line-height: 31px;
    }

    @include media(640px) {
      margin-bottom: 14px;
      font-size: 24px;
      line-height: 1.1;
    }
  }

  &__btn {
    align-self: start;
    padding: 14px 21px;

    @include media(1200px) {
      padding: 14px 20px;
    }

    @include media(640px) {
      padding: 9px 20px;
    }
  }
}



