.project {
  @include sectionPaddings(42px, 23px);

  &__title {
    @extend %section-title;
    margin-bottom: 12px;
    font-family: $font-second;
  }

  &__list {
    display: none;
    grid-template-columns: repeat(3, 191fr) repeat(2, 300fr);
    gap: 31px 30px;
    margin-bottom: 49px;

    &_active {
      display: grid;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 300px;

    &-img {
      padding: 106% 0 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &-img_1 {
      background-image: url("../images/projects/1.webp");
    }

    &-img_2 {
      background-image: url("../images/projects/2.webp");
    }

    &-img_3 {
      background-image: url("../images/projects/3.webp");
    }

    &-img_4 {
      display: none;
    }

    &-big {
      padding: 26px 30px 30px 29px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-mid {
      padding: 67% 0 0 0;
    }

    &-big_1 {
      grid-column: span 2;
      background-image: url("../images/projects/big1.webp");
    }

    &-big_2 {
      grid-column: span 3;
      padding: 25px 30px 31px 30px;
      background-image: url("../images/projects/big2.webp");
    }

    &-img_6 {
      background-image: url("../images/projects/6.webp");
    }

    &-img_7 {
      background-image: url("../images/projects/7.webp");
    }

    &-title {
      @extend %section-title;
      width: 51%;
      margin-bottom: 6px;
      font-family: $font-second;
      line-height: 24px;
      color: $whiteColor;
    }
  }

  &__wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
  }

  &__tag {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px 14px;
    font-size: 14px;
    background-color: #333;
    color: $whiteColor;
  }

  &__description {
    margin-bottom: 15px;
    flex: 1;
    line-height: 22px;
    color: $darkColor;

    &-big {
      width: 51.1%;
      color: $whiteColor;
    }

    &_mid {
      margin-bottom: 17px;
    }
  }

  &__date {
    padding-left: 17px;
    background-image: url("../images/icons/calendar-gray.png");
    background-repeat: no-repeat;
    background-position: left;
    font-size: 12px;
    color: $highlightColor;

    &_white {
      margin-bottom: 7px;
      background-image: url("../images/icons/calendar-white.png");
      color: $whiteColor;
    }
  }

  &__btn {
    padding: 13px 20px;
    margin-top: auto;
    background-color: transparent;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;

    &_top {
      display: none;
    }
  }

  &__btn-tab {
    padding: 0;
    width: 30px;
    height: 30px;
    font-weight: 400;
    border-color: transparent;
    background-color: $lightDefaultColor;
    color: #223444;

    &_active {
      background-color: $accentColor;
      color: $whiteColor;
    }
  }

  // второй список
  &__list-two {
    grid-template-columns: repeat(3, 191fr) repeat(2, 300fr);
  }

  &__item-big_two1 {
    grid-column: span 3;
    background-image: url("../images/projects/tab-two1.webp");
  }

  &__item-img_two2 {
    background-image: url("../images/projects/tab-two2.webp");
  }

  &__item-img_two3 {
    background-image: url("../images/projects/tab-two3.webp");
  }

  &__item-img_two4 {
    background-image: url("../images/projects/tab-two4.webp");
  }

  &__item-img_two5 {
    background-image: url("../images/projects/tab-two5.webp");
  }

  &__item-img_two6 {
    background-image: url("../images/projects/tab-two6.webp");
  }

  &__item-big_two7 {
    grid-column: span 2;
    background-image: url("../images/projects/tab-two7.webp");
  }

  //мобильные табы
  &__mobile {
    display: none;
  }

  &__btn-wrapper_top {
    display: none;
  }

  @include media(1024px) {
    @include sectionPaddings(41px, 22px);

    &__list {
      margin-bottom: 52px;
      grid-template-columns: repeat(8, 110fr);
      gap: 27.5px 30px;
    }

    &__item {
      &-img {
        grid-column: span 2;
        padding-top: 93%;
      }

      &-img_1 {
        background-image: url("../images/projects/1-1024.webp");
      }

      &-img_2 {
        order: 1;
        background-image: url("../images/projects/2-1024.webp");
      }

      &-img_3 {
        order: 2;
        background-image: url("../images/projects/3-1024.webp");
      }

      &-img_4 {
        display: flex;
        order: 3;
        background-image: url("../images/projects/tab-two4-1024.webp");
      }

      &-img_6 {
        order: 5;
        background-image: url("../images/projects/6-1024.webp");
      }

      &-img_7 {
        order: 6;
        background-image: url("../images/projects/7-1024.webp");
      }

      &-mid {
        padding-top: 59%;
        grid-column: span 3;
      }

      &-big {
        padding: 23px 30px 32px 29px;
      }

      &-big_1 {
        grid-column: span 5;
        order: 4;
        background-image: url("../images/projects/big1-1024.webp");
      }

      &-big_2 {
        padding: 26px 30px 29px;
        grid-column: span 5;
        order: 7;
        background-image: url("../images/projects/big2-1024.webp");
      }
    }

    &__description-big {
      width: 55%;
    }

    &__btn {
      padding: 13px 20px;
    }

    // второй список
    &__list-two {
      grid-template-columns: repeat(8, 110fr);
    }

    &__item-img {
      grid-column: span 2;
    }

    &__item-big_two1 {
      grid-column: span 5;
      background-image: url("../images/projects/tab-two1-1024.webp");
    }

    &__item-img_two2 {
      background-image: url("../images/projects/tab-two2-1024.webp");
    }

    &__item-img_two3 {
      background-image: url("../images/projects/tab-two3-1024.webp");
    }

    &__item-mid {
      grid-column: span 3;
    }

    &__item-img_two4 {
      display: none;
      background-image: url("../images/projects/tab-two4-1024.webp");
    }

    &__item-img_two5 {
      order: 1;
      background-image: url("../images/projects/tab-two5-1024.webp");
    }

    &__item-img_two6 {
      order: 2;
      background-image: url("../images/projects/tab-two6-1024.webp");
    }

    &__item-big_two7 {
      grid-column: span 5;
      background-image: url("../images/projects/tab-two7-1024.webp");
    }
  }

  @include media(780px) {
    &__list {
      grid-template-columns: repeat(6, 110fr);
      gap: 28.5px 30px;
    }

    &__item-title {
      width: 45%;
    }

    &__description-big {
      width: 45%;
    }

    &__item-img_4 {
      display: none;
    }

    &__item-big_1 {
      grid-column: span 6;
      background-image: url("../images/projects/big1-768.webp");
    }

    &__item-big_2 {
      grid-column: span 6;
      background-image: url("../images/projects/big2-768.webp");
    }

    &__btn-wrapper {
      gap: 20px;
    }

    //  второй список
    &__item-big_two1 {
      grid-column: span 6;
      background-image: url("../images/projects/tab-two1-768.webp");
      order: 4;
    }

    &__item-img_two2 {
      order: 5;
    }

    &__item-img_two3 {
      order: 5;
    }

    &__item-img_two4 {
      display: flex;
      order: 1;
    }

    &__item-big_two7 {
      grid-column: span 6;
      background-image: url("../images/projects/tab-two7-768.webp");
      order: 7;
    }

  }

  @include media(640px) {
    @include sectionPaddings(32px, 40px);

    &__list {
      grid-template-columns: 1fr;
      gap: 27px;
    }

    &__title {
      display: none;
    }

    &__wrapper-content {
      height: 52%;
    }

    // мобильные табы
    &__mobile {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &-title {
        display: block;
        margin-bottom: 0;
        margin-right: auto;
        font-size: 18px;
      }
    }

    &__btn-wrapper {
      display: none;
    }

    &__btn-wrapper_top {
      display: flex;
      gap: 10px;
    }

    &__tag {
      top: 5px;
      right: 5px;
      padding: 4.5px 14.8px;
      font-size: 12px;

      &_big2 {
        font-size: 14px;
      }
    }

    &__item {
      min-height: 273px;

      &-title {
        width: 100%;
      }
    }

    &__item-img {
      grid-column: 1;
      padding-top: 73%;
    }

    &__item-big {
      padding: 23px 30px 32px 29px;
      min-height: 422px;
      justify-content: flex-end;

      &_2 {
        padding: 23px 30px 31px 29px;
        min-height: 426px;
      }
    }

    &__date_white {
      margin-bottom: 10px;
    }

    &__item-img_1 {
      background-image: url("../images/projects/1-320.webp");
    }

    &__item-img_2 {
      background-image: url("../images/projects/2-320.webp");
    }

    &__item-img_3 {
      background-image: url("../images/projects/3-320.webp");
    }

    &__item-big_1 {
      grid-column: 1;
      background-image: url("../images/projects/big1-320.webp");
    }

    &__item-big_2 {
      grid-column: 1;
      background-image: url("../images/projects/big2-320.webp");
    }

    &__item-img_6 {
      background-image: url("../images/projects/6-320.webp");
    }

    &__item-img_7 {
      background-image: url("../images/projects/7-320.webp");
    }

    &__description_mid {
      margin-bottom: 14px;
    }

    &__description-big {
      width: 100%;
      margin-bottom: 17px;
      font-size: 14px;
      line-height: 19px;

      &_2 {
        margin-bottom: 23px;
      }
    }

    &__btn {
      padding: 9px 19px;
      font-size: 14px;
    }

    &__btn-tab {
      width: 24px;
      height: 24px;
    }


    //  второй список
    &__list {
      grid-template-columns: 1fr;
    }

    &__item-big_two1 {
      grid-column: 1;
      background-image: url("../images/projects/tab-two1-320.webp");
    }

    &__item-img_two2 {
      background-image: url("../images/projects/tab-two2-320.webp");
    }

    &__item-img_two3 {
      background-image: url("../images/projects/tab-two3-320.webp");
    }

    &__item-img_two4 {
      background-image: url("../images/projects/tab-two4-320.webp");
    }

    &__item-img_two5 {
      background-image: url("../images/projects/tab-two5-320.webp");
    }

    &__item-img_two6 {
      background-image: url("../images/projects/tab-two6-320.webp");
    }

    &__item-big_two7 {
      grid-column: 1;
      background-image: url("../images/projects/tab-two7-320.webp");
    }
  }
}


