.workshops {
  @include sectionPaddings(40px, 40px);
  background-color: $darkColor;
  color: $whiteColor;

  @include media(1200px) {
    @include sectionPaddings(41px, 40px);
  }

  @include media(998px) {
    @include sectionPaddings(41px, 68px);
  }

  @include media(640px) {
    @include sectionPaddings(25px, 68px);
  }

  &__wrapper {
    display: flex;
    gap: 30px;

    @include media(1200px) {
      flex-direction: column;
    }
  }

  &__title {
    @extend %section-title;
    margin-bottom: 17px;
    color: $whiteColor;

    @include media(640px) {
      margin-bottom: 14px;
      font-size: 18px;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 22px;

    @include media(1200px) {
      margin-bottom: 7px;
    }
  }
}

.left-block {
  padding-left: 440px;
  width: 66%;
  background: url("../images/workshops/main.webp") no-repeat;

  @include media(1200px) {
    padding-left: 497px;
    width: 100%;
    background: url("../images/workshops/main-1024.webp") no-repeat;
  }

  @include media(768px) {
    padding-left: 372px;
    background: url("../images/workshops/main-768.webp") no-repeat;
  }

  @include media(640px) {
    padding-left: 0;
    padding-top: 97%;
    background: url("../images/workshops/main-320.webp") no-repeat;
    background-size: 100%;
  }

  &__title {
    margin-bottom: 6px;
    font-family: $font-second;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;

    @include media(1200px) {
      margin-bottom: 5px;
    }

    @include media(640px) {
      margin-bottom: 2px;
      font-size: 18px;
    }
  }

  &__content {
    padding: 14px 10px 30px 0;

    @include media(998px) {
      padding-right: 0;
    }

    @include media(640px) {
      padding-bottom: 16px;
    }
  }

  &__date {
    background-image: url("../images/icons/calendar-white.png");
  }

  &__time {
    background-image: url("../images/icons/watch.png");
  }

  &__description {
    margin-bottom: 49px;
    line-height: 28px;
    color: $defaultColor;

    @include media(1200px) {
      margin-bottom: 78px;
    }

    @include media(998px) {
      margin-bottom: 22px;
    }

    @include media(640px) {
      margin-bottom: 23px;
      font-size: 14px;
      line-height: 25px;
    }
  }

  &__btn {
    display: inline-block;
    padding: 13px 20px;

    @include media(640px) {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
}

.right-block {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include media(1200px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 22px;
    }

    @include media(998px) {
      gap: 17px;
    }

    @include media(640px) {
      gap: 30px;
    }
  }

  &__item {
    display: flex;

    @include media(1200px) {
      width: 48.4%;
    }

    @include media(640px) {
      width: 100%;
    }

    &-description {
      font-family: $font-second;
      @include media(998px) {
        line-height: 1;
      }
    }

    &_2 {
      @include media(1200px) {
        order: 1;
      }
    }

    &_4 {
      @include media(1200px) {
        order: 2;
      }
    }

    &-content {
      padding: 9px 10px 10px 14px;

      @include media(1200px) {
        padding: 16px 10px 10px 30px;
      }

      @include media(998px) {
        padding: 8px 10px 10px 30px;
      }

      @include media(640px) {
        padding: 0 0 0 28px;
      }

      &_2 {
        padding-top: 15px;

        @include media(640px) {
          padding-top: 8px;
        }
      }

      &_4 {
        @include media(640px) {
          padding-top: 8px;
        }
      }
    }
  }

  &__picture {
    @include media(998px) {
      max-width: 94px;
      height: 71px;
      width: 100%;
    }
  }

  &__img {
    @include media(998px) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    background-image: url("../images/icons/calendar-white.png");
  }

  &__time {
    background-image: url("../images/icons/watch.png");
  }

  .workshops__date {
    margin-bottom: 0;

    @include media(998px) {
      margin-bottom: 3px;
    }

    @include media(640px) {
      margin-bottom: 1px;
    }
  }
}

.date,
.time {
  padding-left: 17px;
  background-repeat: no-repeat;
  background-position: left;
}
